<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form para Creación de Token</title>
</head>
<body>
    <h1>Formulario para Token en Market</h1>
    <form action="{% url 'token' %}" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <hr>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <hr>
        <button type="submit">Crea Token</button>
    </form>
</body>
</html>