{% extends 'rickandmorty/base.html' %}

{% block content %}
  <h2>Lista de personajes</h2>
  
  <div class="row row-cols-2 row-cols-md-4 g-8">
      {% for character in characters %}
      <div class="col mb-2 text-dark">
          <div class="card">
              <img src="{{ character.image }}" class="card-img-top" alt="{{ character.image }}">
              <div class="card-body">
              <h5 class="card-title">{{ character.name }}</h5>
              <p class="card-text">{{ character.status }} - {{ character.species }}</p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  <hr>
  <div class="row justify-content-center">
  <nav aria-label="..." class="col-auto text-center">
      <ul class="pagination">
        {%if info.prev == None %}
        <li class="page-item disabled">
          <a class="page-link" href="#"> Previous</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{% url 'home' info.prev %}">Previous</a>
        </li>
        {% endif %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="{% url 'home' info.actual %}">{{ info.actual }}</a>
        </li>
        {% if info.next == None %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="{% url 'home' info.next %}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock content %}